.pageTitle{
	font-size: 350%;
}

.fontLevel0{
	font-size: 100%;
}

.fontLevel1{
	font-size: 150%;
}

.fontLevel2{
	font-size: 200%;
}

.fontLevel3{
	font-size: 250%;
}

.fontLevel4{
	font-size: 300%;
}